@import './_variables';

:root {
    font-family: 'Patrick Hand', serif;
    background-color: $monut-primary-color;
}

body {
    max-width: 100%;
    overflow: hidden visible;
    margin: 0;
    padding: 0;
}

a {
    color: $monut-tertiary-color;
    text-decoration: none;
    font-size: $monut-text;
}

h1 {
    color: $monut-black;
    font-size: $monut-h1;
    margin: 0;
}

h2 {
    color: $monut-tertiary-color;
    font-size: $monut-h2;
    margin: 0;
}

p {
    color: $monut-secondary-color;
    font-size: $monut-text;
    margin: 0;
}