@import './_variables';

:root {
    font-family: 'Old Standard TT', serif;
    background-color: $monut-primary-color;
    text-transform: lowercase;
}

html, body, section {
    margin: 0;
    padding: 0;
}

a {
    color: $monut-tertiary-color;
    text-decoration: none;
    font-size: $monut-text;
}

h1 {
    color: $monut-black;
    font-size: $monut-h1;
    margin: 0;
}

h2 {
    color: $monut-tertiary-color;
    font-size: $monut-h2;
    margin: 0;
}

h3 {
    color: $monut-secondary-color;
    font-size: $monut-text;
}

p {
    color: $monut-black;
    font-size: $monut-text;
    margin: 0;
    line-height: calc($monut-text + 14pt);
}

.centered-page {
    width: 100%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.centered-section {
    scroll-margin-top: 75px;
    width: 100%;
    max-width: 800px;
    margin: 1em;

    @media (min-width: 768px) {
        margin: 2em;
    }
}