// Place SASS variable overrides here
$monut-h1: 48pt;
$monut-h2: 36pt;
$monut-text: 18pt;
$monut-font-family: 'Avenir', sans-serif;

// Colors
$monut-primary-color: #ffe5d9;
$monut-secondary-color: #b5838d;
$monut-dark-color: #6d6875;