// Global Font Style
$monut-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

// Font sizes
$monut-h1: 48px;
$monut-h2: 36px;
$monut-text: 18px;

// Colors


// Margins and Padding
