$monut-font-family: 'Patrick Hand', serif;

// Font Sizes
$monut-h1: 48pt;
$monut-h2: 30pt;
$monut-text: 18pt;

// Colors
$monut-primary-color: #ffe5d9;
$monut-secondary-color: #bfa3ac;
$monut-tertiary-color: #6d6875;
$monut-black: #433147;